# Node
node_modules/
dist/
.env
*.zip
*.mp4
# API keys / credentials
.env
credentials.json

# VSCode
.vscode/

# MacOS
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Generated clips
clip_*.mp4

# Generated transcripts
transcript*.txt

# Final output files
audio.wav
final.mp4
video.json